

.header{
    position: relative;
    overflow: hidden;
    font-size: 1.25rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
    margin-left: 150%;
}

#book{
    color: cyan;
    padding: 10px;
    border: 2px solid cyan;
    margin-right: 60px;
    border-radius: 20px;
    text-decoration: none;
}

#book:hover{
    background-color: cyan;
    text-decoration-color: #fff;
}

.navbar{
    align-items: center;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
    text-decoration: none;
}

.header .navbar a:hover{
    color: cyan;
}

.pgrid{
    width: 80%;
    }
    .pgrid .images{
    display: flex;
    }
    .pgrid .blg{
    margin-top: 30px;
    margin-left: 10%;
    height: 70px;
    width: 100%;
    background-color: pink;
    border-radius: 10px;
    }
    .pgrid .blg h1{
    padding-left: 20px;
    }
    .pgrid .blg p{
    padding-left: 20px;
    }
    .pgird .images{
    display: flex;
    flex-direction: row;
    }
    .pgrid .images .img{
        padding-left: 20px;
    height: 350px;
    width: 350px;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    
    }
    .pgrid .images .img img{
    height: 350px;
    width: 350px;
    margin-left: 200px;
    padding-left: 20px;
    border-radius: 20px;
    }
    footer{ margin: 0%;
        margin-top: 20px;
    }
      .table{
        background-color: rgb(32, 32, 32);
        color: white;
        margin: 0%;
        padding: 20px;
      }
      table,tr,td,th
    {
      text-align: left;
      padding: 15px;
    }
    td{padding-right: 100px;}
    th{font-family:Verdana, Geneva, Tahoma, sans-serif;}
    iframe{margin: 0%;}
    a.an{
        color: white;
        margin: 0%;
    }
    .fa {  
      padding: 20px;  
      text-align: center;  
      margin: 5px 2px; 
      border-radius: 15px; 
      font-size: 30px;  
      width: 50px;  
    }  
    .fa-linkedin {  
      background: #007bb5;  
      color: white;  
    }  
    .tc{
      background-color: rgb(22, 22, 22);
      margin: 0%;
      padding: 20px;
      text-align: right;
    }
    .tc a{
      color: rgb(104, 104, 104);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .copy{
      background-color: rgb(0, 0, 0);
      margin: 0%;
      padding: 40px;
      text-align: center;
      color: #ffffff;
    }
    
    